* {
    box-sizing: border-box;
}

body {
    font-family: 'MyriadProRegular';
    height: 2000px;
    color:  #333333;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
h1 {
    font-family: 'MyriadProRegular';
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 14px;
    line-height: 1;
}
h2 {
    font-family: 'MyriadProRegular';
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
    line-height: 1;
}
p {
    margin-top: 0px;
    line-height: 1.17;
    margin-bottom: 17px;
}

.content {
    position: relative;
    width: 563px;
    margin: 200px auto;
}

.pages {
    width: 523px;
    height: 750px;
    border-width: 2px;
    border-color:  #000000;
    border-style: solid;
}

.topPage {
    background-color:#ebebeb;
    position: relative;
}
.midPage {
    background-color:#cccccc;
    position: absolute;
    left:21px;
    top:20px;
}
.botPage {
    background-color:#acacac;
    position: absolute;
    top:39px;
    left:40px;
}

.bookMarks {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
}
.botBookmark {
    position: absolute;
    left: 440px;
    top: 48px;
    background-color: #00aeef;
    width: 95px;
    height: 31px;
}
.midBookmark {
    position: absolute;
    left: 472px;
    top: 43px;
    background-color: #39b54a;
    width: 95px;
    height: 31px;
}
.topBookmark {
    position: absolute;
    left: 494px;
    top: 40px;
    background-color: #f68e56;
    width: 111px;
    height: 35px;
}

.topPage article {
    margin:40px 32px 28px 32px;
}
.mainSection img:nth-of-type(2n+1) {
    float: left;
    width: 207px;
    height: 111px;
    margin: 0px 21px 15px 1px;
}
.mainSection img:nth-of-type(2n+0) {
    float: right;
    width: 140px;
    height: 140px;
    margin: 2px 0px 0px 6px;
}
.mainSection p:nth-of-type(1){
    margin-bottom: 0px;
}
.mainSection:after {
    display: block;
    content: '.';
    clear: both;
    visibility: hidden;
    height: 0px;
}
.other {
    display: inline-block;
}
.other img {
    width: 194px;
    height: 89px;
    margin-bottom: 14px;
}
.other img:nth-child(2n+1) {
    float:right;
}
.other img:nth-child(2n+0) {
    float:left;
}
.other:after {
    display: block;
    content: '.';
    clear: both;
    visibility: hidden;
    height: 0px;
}
aside {
    position: fixed;
    right:0px;
    bottom:210px;
}
footer {
    position: absolute;
    bottom: 48px;
    left:42px;
    font-size: 9px;
    width: 440px;
    text-align: center;
}
